@font-face {
  font-Family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-Family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-Family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%
}

body {
  margin: 0;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #feafc3;
  color: #2d3440;
}

.pink {
  background-color: #feafc3;
}

.blue {
  background-color: #69a9ff;
}

.yellow {
  background-color: #fcc850;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-link {
  margin-right: 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-link:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  border: 0;
  border-radius: 30px;
}

.navigation-link:hover  {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.navigation-link:active {
  background: #fcfcfc;
  border-radius: 30px;
  border: 0;
  outline: 0;
}

.navigation-item:first-child {
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
}

.catalog-narrow {
  position: absolute;
  right: 18px;
  top: 12px;
}

.catalog-header {
  text-decoration: none;
  display: block;
  color: #2d3440;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 16px 8px 16px;
  height: 20px;
  padding-right: 38px;
}

.catalog-header:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  border: 0;
  border-radius: 30px;
}

.catalog-header:hover  {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.catalog-header:active {
  background: #fcfcfc;
  border-radius: 30px;
  border: 0;
  outline: 0;
}

.ct-nav:focus-within .catalog-header{
  background: #ff4a78;
  border-radius: 30px;
  color: #fcfcfc;
  outline: 0;
}

.ct-nav:focus-within .ct-header-icon {
  fill: #fcfcfc;
}

.ct-nav:focus-within .catalog-narrow {
  transform: rotate(180deg);
  top: 13px;
}

.ct-nav:focus-within .catalog-popover {
  display: block;
}

.catalog-popover {
  width: 138px;
  padding: 16px;
  background-color: #fcfcfc;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 40px;
  display: none;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-list-item {
  margin-bottom: 12px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  position: relative;
}

.catalog-list-item:first-child {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin-bottom: 24px;
}

.catalog-list-item:first-child::before {
  height: 1px;
  width: 105px;
  content: "";
  display: block;
  background-color:  #b9b9b9;
  position: absolute;
  top: 32px;
}

.catalog-list-item:last-child {
  margin-bottom: 0;
}

.catalog-link {
  text-decoration: none;
  color: #2d3440;
}

.phone-number {
  text-decoration: none;
  color: #2d3440;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  height: 20px;
}

.navigation-item {
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
}

.navigation-link {
  text-decoration: none;
  display: block;
  color: #2d3440;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 16px 8px 16px;
  height: 20px;
}

.search {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 32px;
  width: 32px;
  height: 32px;
  padding: 0;
  position: relative;
}

.search:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
  border: 0;
  border-radius: 30px;
}

.search:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.search:active {
  background: #fcfcfc;
  border-radius: 30px;
  outline: 0;
}

.search-icon {
  position: absolute;
  top: 9px;
  left: 9px;
}

.user-item:focus-within .search{
  background: #ff4a78;
  border-radius: 30px;
  outline: 0;
}

.user-item:focus-within .search-color {
  fill: #fcfcfc;
}

.user-item:focus-within .popover-search {
  display: block;
}

.popover-search {
  width: 356px;
  background-color: #fcfcfc;
  padding: 24px 16px;
  position: absolute;
  color: #2d3440;
  box-sizing: border-box;
  z-index: 5;
  top: 40px;
  left: -326px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  display: none;
}

.popover-form-search {
  margin-top: 0;
}

.filed-search {
  background: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 324px;
  height: 48px;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  padding: 14px 16px 14px 16px;
}

.enter {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  text-decoration: none;
  display: block;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  padding: 6px 16px 6px 38px;
  height: 20px;
  position: relative;
}

.enter:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
  border: 0;
  border-radius: 30px;
}

.enter:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.enter:active {
  background: #fcfcfc;
  border-radius: 30px;
  outline: 0;
}

.enter-icon {
  position: absolute;
  left: 16px;
  top: 8px;
}

.user-item:focus-within .enter{
  background: #ff4a78;
  border-radius: 30px;
  outline: 0;
  color: #fcfcfc;
}

.user-item:focus-within .enter-color {
  fill: #fcfcfc;
}

.user-item:focus-within .enter-popover {
  display: block;
}

.enter-popover {
  width: 420px;
  background-color: #fcfcfc;
  padding: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  min-height: 156px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 40px;
  left: -332px;
  color: #2d3440;
  display: none;
}

.popover-form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.popover-form input {
  margin-bottom: 16px;
}

.popover-form input:last-of-type {
  margin-bottom: 32px;
}

.popover-bottom {
  display: flex;
}

.links-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 24px;
}

.popover-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.basket {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  position: relative;
  padding: 6px 16px 6px 38px;
  text-decoration: none;
}

.basket:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
  border: 0;
  border-radius: 30px;
}

.basket:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.basket:active {
  background: #fcfcfc;
  border-radius: 30px;
  outline: 0;
}

.basket-icon {
  position: absolute;
  top: 8px;
  left: 16px;
}

.user-item:focus-within .basket{
  background: #ff4a78;
  border-radius: 30px;
  outline: 0;
  color: #fcfcfc;
}

.user-item:focus-within .basket-color {
  fill: #fcfcfc;
}

.user-item:focus-within .basket-popover {
  display: block;
}

.basket-popover {
  width: 440px;
  padding: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  min-height: 156px;
  background: #fcfcfc;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: -325px;
  z-index: 5;
  display: none;
  color: #2d3440;
}

.popover-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.popover-list {
  margin: 32px 0;
  padding: 0;
  list-style-type: none;
}

.popover-item {
  display: flex;
  height: 46px;
  margin-top: 24px;
}

.popover-item:first-child {
  margin-top: 0;
}

.popover-img {
  margin-right: 16px;
}

.popover-description {
  margin-right: 68px;
  align-self: center;
  width: 92px;
  box-sizing: border-box;
}

.pop-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.popover-description p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.popover-item b {
  margin-right: 50px;
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cancel {
  width: 16px;
  height: 16px;
  align-self: center;
  background-color:#fcfcfc;
  border: 0;
  cursor: pointer;
  position: relative;
  padding: 0;
}

.cancel-icon-first {
  position: absolute;
  top: 0;
}

.checkout {
  display:flex;
  padding-top: 32px;
  position: relative;
}

.checkout::before {
  height: 1px;
  width: 345px;
  content: "";
  display: block;
  background-color: #e7e7e7;
  position: absolute;
  top: 0;
}

.checkout-price {
  margin-left: 23px;
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.navigation-item:nth-child(3) {
  margin-right: 164px;
}

.user-item {
  margin-right: 16px;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.user-item:last-child {
  margin-right: 0;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: none;
  height: 554px;
}

.active-slide {
  display: flex;
}

.info-slider {
  padding-left: 70px;
  padding-right: 28px;
  width: 528px;
}

.info-slider h2 {
  margin: 0;
  padding: 0;
  font-family: "Inter", monospace;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-top: 132px;
}

.info-slider p {
  margin-top: 24px;
  margin-bottom: 48px;
  width: 430px;
}

.order {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  background: #fcfcfc;
  outline: 4px solid #ffcbd8;
  display: inline-block;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding: 12px 32px;
  cursor: pointer;
  text-decoration: none;
}

.order:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  border: none;
}

.order:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
  border: none;
}

.order:active {
  background: #fcfcfc;
  outline: 2px solid #2d3440;
  border: none;
}

.order:disabled {
  background: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border: none;
  color: #b9b9b9;
}

.slider-pictures {
  display: flex;
  align-items: center;
}

.slider-pic-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.slider-pic-item {
  margin-right: 38px;
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
}

.slider-pic-item:first-child::before {
  display: block;
  content: "";
  width: 312px;
  height: 312px;
  background-color: #ffcbd8;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 10px;;
}

.slider-pic {
  z-index: 2;
  position: relative;
}

.slider-pic-item:not(:first-child)::before {
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  background-color: #ffcbd8;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 25px;
  opacity: 0.4;
}

.small-pic {
  position: relative;
  z-index: 3;
}

.slider-pic-item:last-child {
  margin-right: 0;
}

.slider-pic-item:not(:first-child) {
  width: 100px;
}

.slider-buttons {
  position: relative;
}

.narrows {
  display: flex;
  justify-content: space-between;
  width: 366px;
  position: absolute;
  top: -270px;
  left: 527px;
  z-index: 4;
}

.slider-button {
  box-sizing: border-box;
  height: 38px;
  width: 38px;
  position: relative;
  border: 2px solid#fcfcfc;
  border-radius: 26px;
  background: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  padding: 0;
}

.slider-button:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
}

.slider-button:focus .clr-icon-slider {
  fill: #2d3440;
}

.slider-button:hover {
  background-color:#fcfcfc;
}

.slider-button:hover .clr-icon-slider {
  fill: #2d3440;
}

.slider-button:active {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.slider-button:active .clr-icon-slider {
  fill: #2d3440;
}

.slider-button:disabled {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  opacity: 0.4;
}

.slider-button:disabled .clr-icon-slider {
  color:#fcfcfc;
}

.narrow-icon {
  position: absolute;
  top: 9px;
  left: 8px;
}

.narrow-icon-next {
  position: absolute;
  top: 9px;
  left: 10px;
  transform: rotate(180deg);
}

.pagination-slider {
  display: flex;
  justify-content: space-between;
  margin-top: -32px;
}

.slider-dot-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.slider-dot-list {
  width: 52px;
  height: 12px;
  display: flex;
  justify-content: space-between;
}

.slider-dot-button {
  box-sizing: content-box;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  background:#fcfcfc;
  border: 1px solid#fcfcfc;
  border-radius: 100px;
  cursor: pointer;
  opacity: 0.3;
}

.slider-dot-button:focus {
  border: 1px solid #2d3440;
  background: rgba(252, 252, 252, 0.3);
}

.slider-dot-button:hover {
  border: 1px solid#fcfcfc;
}

.slider-dot-button:active {
  opacity: 0.5;
}

.slider-dot-button:current {
  background:#fcfcfc;
  border: 1px solid#fcfcfc;
}

.messengers-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 104px;
  height: 24px;
  justify-content: space-between;
  list-style-type: none;
}

.messengers-link {
  height: 24px;
  width: 24px;
  display: block;
  box-sizing: border-box;
  outline: 2px solid #ffcbd8;
  border: 0;
  border-radius: 24px;
  background-color: #feafc3;
  cursor: pointer;
  position: relative;
}

.messengers-link:focus {
  outline: 2px solid #2d3440;
  border: 0;
  background: #2d3440;
  border-radius: 24px;
}

.messengers-link:hover {
  background-color: #2d3440;
  border-radius: 24px;
}

.messengers-link:active {
  background-color: #2d3440;
  border-radius: 24px;
  opacity: 0.5;
}

.messenger-icon {
  position: absolute;
}

.gift-container h2 {
  font-family: "Inter", monospace;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 55px;
}

.gift-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gift-item {
  display: flex;
  background: #ff7799;
  border-radius: 16px;
  margin-bottom: 80px;
  width: 570px;
}

.gift-item:nth-child(1) {
  background-image: url("images-gllacy/berry-gift.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.gift-item:nth-child(2) {
  background-image: url("images-gllacy/marshmello-gift.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.info-gift {
  padding: 36px 11px 36px 36px;
}

.info-gift h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}


.info-gift p {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  width: 304px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2d3440;
}

.want-gift {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  display: inline-block;
  color: #2d3440;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  background:#fcfcfc;
  outline: 4px solid #ffcbd8;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
  text-decoration: none;
}

.want-gift:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  border: none;
}

.want-gift:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
  border: none;
}

.want-gift:active {
  background: #fcfcfc;
  outline: 2px solid #2d3440;
  border: none;
}

.want-gift:disabled {
  background: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border: none;
  color: #b9b9b9;
}

.popular-taste h2 {
  font-family: "Inter", monospace;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
  margin: 0;
  padding: 0;
  margin-bottom: 106px;
}

.taste-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4 , 270px);
  column-gap: 30px;
  row-gap: 90px;
  margin-bottom: 56px;
  flex-wrap: wrap;
}

.taste-item {
  width: 270px;
  display: grid;
  background-color:#fcfcfc;
  border-radius: 8px;
}

.ice-crem-pic {
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: 16px;
}

.taste-item  h2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2d3440;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.taste-item p {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565c66;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  }

.price-busket {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 190px;
  margin-bottom: 24px;
}

.price-busket span {
  display: flex;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin: auto 0;
}

.add-to-basket {
  width: 32px;
  height: 32px;
  border: 2px solid #ff2f64;
  background: #ff2f64;
  border-radius: 26px;
  cursor: pointer;
  position: relative;
  padding: 0;
}

.add-to-basket:focus {
  border: 2px solid #2d3440;
  background: #ff2f64;
}

.add-to-basket:hover {
  background:#fcfcfc;
}

.add-to-basket:hover .clr-icon-price {
  fill: #2d3440;
}

.add-to-basket:active {
  background: #ffcbd8;
}

.add-to-basket:active .clr-icon-price {
  fill: #2d3440;
}

.add-to-basket:disabled {
  background: #b9b9b9;
  border: 2px solid #b9b9b9;
}

.add-to-basket:disabled .clr-icon-price {
  fill: #565c66;
}

.add-to-basket-icon {
  position: absolute;
  bottom: 7px;
  right: 7.5px;
}

.waffle-advantages {
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 80px;
  margin-top: 80px;
  background-image: url("images-gllacy/waffle.png");
  background-repeat: repeat;
}

.advantages {
  background-color: #ffffff;
  border-radius: 16px;
}

.advantages h3 {
  font-family: "Inter", monospace;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  margin-bottom: 56px;
}

.advantades-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  gap: 40px;
  grid-template-columns: 505.5px 505.5px;
  width: 1043px;
  padding-bottom: 56px;
}

.advantages-item {
  display: flex;
}

.advantages-pic {
  display: flex;
  align-self: center;
  margin-right: 16px;
  margin-bottom: 12px;
}

.advantages-item p {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.article-and-mailing-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.article {
  box-sizing: border-box;
  width: 570px;
  background-image: url("images-gllacy/article-ice-cream.jpg");
  background-size: cover;
  border-radius: 16px;
  padding: 32px 32px 70px 32px;
  background-color:#fcfcfc;
}

.article p {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  margin-bottom: 16px;
}

.blog-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
}

.mail-border {
  background-image: url("images-gllacy/news-letter.jpg");
  background-size: cover;
  width: 570px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailing-list {
  box-sizing: border-box;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background-color:#fcfcfc;
  padding: 26px;
  border-radius: 16px;
}

.mailing-list p {
  margin : 0;
  padding: 0;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin-bottom: 44px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
}

.filed {
  background: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 332px;
  height: 48px;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  padding: 14px 16px 14px 16px;
}

.filed:not(:placeholder-shown) {
  color: #2d3440;
  border: 1px solid #b9b9b9;
}

.button {
  background: #ff2f64;
  outline: 4px solid #ff7799;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fcfcfc;
  cursor: pointer;
  padding: 10px 32px;
  box-sizing: border-box;
}

.button:focus {
  outline: 2px solid #2d3440;
  border: none;
  background: #ff2f64;
}

.button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #ff2f64;
  border: none;
  color: #2d3440;
}

.button:active {
  outline: 2px solid #2d3440;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  background: #feafc3;
}

.button:disabled {
  background: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  border: none;
  color: #565c66;
}

.delivery {
  display: flex;
  border-radius: 16px;
  background-image: url("images-gllacy/delivery.jpg");
  background-color: #fcfcfc;
  background-size: cover;
  margin-bottom: 80px;
}

.info-delivery {
  margin-top: 167px;
  margin-left: 100px;
}

.info-delivery h2 {
  font-family: "Inter", monospace;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.info-delivery p {
  margin:  0;
  padding: 0;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin-bottom: 163px;
}

.appointment {
  margin: 64px 64px 64px 135px;
  background: #fcfcfc;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}

.appointment p {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.appointment-form {
  display: grid;
  width: 420px;
  grid-template-rows: 76px 76px;
  grid-template-columns: 118px 286px;
  gap: 20px 16px;
}

.appointment-form-date {
  width: 118px;
}

.appointment-form-adress {
  grid-column: 1 / -1;
}

.appointment-form p {
  display: grid;
  gap: 8px;
}

.form-label {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  position: relative;
}

.form-icon-date {
  position: absolute;
  top: 3px;
  left: 44px;
}

.form-icon {
  position: absolute;
  top: 3px;
  left: 56px;
}

.app-input {
  background: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  padding: 14px 16px;
  box-sizing: border-box;
  height:48px;
}

.app-input:focus {
  outline: 2px solid #2d3440;
  border: 0;
  border-radius: 4px;
}

.app-input:hover {
  outline: 1px solid #2d3440;
  border: 0;
  border-radius: 4px;
  color: #2d3440;
  box-sizing: border-box;
}

.date-input {
  width: 119px;
  background: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  padding: 14px 16px;
  box-sizing: border-box;
  height:48px;
}

.date-input:focus {
  outline: 2px solid #2d3440;
  border: 0;
  border-radius: 4px;
}

.date-input:hover {
  outline: 1px solid #2d3440;
  border: 0;
  border-radius: 4px;
  color: #2d3440;
  box-sizing: border-box;
}

.appointment .button {
  display: flex;
  margin: 0 auto;
  margin-top: 12px;
  text-align: center;
  margin-left: 134px;
}

.feedback {
  background-image: url("images-gllacy/contact.jpg");
  background-color: #fcfcfc;
  border-radius: 16px;
  background-size: cover;
  padding: 64px 763px 64px 64px;
  box-sizing: border-box;
}

.feedback-window {
  background:#fcfcfc;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px 40px 44px 40px;
}

.feedback-window p {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.feedback-window p:last-of-type {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
}

.feedback-window .address {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin-bottom: 24px;
}

.feedback-window b {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.feedback-link {
  background: #ff2f64;
  outline: 4px solid #ff7799;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color:#fcfcfc;
  cursor: pointer;
  padding: 10px 32px;
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
}


.feedback-link:focus {
  outline: 2px solid #2d3440;
  border: none;
  background: #ff2f64;
}

.feedback-link:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #ff2f64;
  border: none;
  color: #2d3440;
}

.feedback-link:active {
  outline: 2px solid #2d3440;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  background: #feafc3;
}

.feedback-link:disabled {
  background: #b9b9b9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  border: none;
  color: #565c66;
}

.timetable {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;

}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}

.about-us {
  padding-left: 50px;
}

.about-us-list {
  display: flex;
  width: 358px;
  flex-wrap: wrap;
  height: 48px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-us-item {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: end;
}

.heart-icon {
  position: absolute;
  left: -24px;
  top: 4px;
}

.about-us-link {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  height: 20px;
}

.for-other {
  margin-right: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.about-us-item:nth-child(3) {
  margin-right: 40px;
}

.html-academy {
  height: 57px;
}

.html-academy-link {
  margin-top: 4px;
  display: inline-block;
}

.html-academy P {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
  margin: 0;
  padding: 0;
  margin-top: 8px;
}

.html-academy-link-p {
  color: #2d3440;
}

/*Вторая страница*/

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  margin-top: 26px;
}

.breadcrumbs-link {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.breadcrumbs-link:not(:last-child) {
  text-decoration: none;
}

.breadcrumbs-item {
  margin-right: 28px;
  position: relative;
}

.double-narrow {
  position: absolute;
  top: 10.5px;
  left: 68.5px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.bread h2 {
  margin: 0;
  padding: 0;
  font-family: "Inter", monospace;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  margin-bottom: 40px;
}

.catalog-filter {
  margin-bottom: 98px;
}

.catalog-filter-title {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  margin-bottom: 8px;
  margin-left: 16px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 24px;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 0;
}

.catalog-filter-group:nth-child(4) {
  margin-top: 16px;
}

.catalog-controll {
  background: #ffcbd8;
  border-radius: 20px;
  border: 0;
  padding: 8px 36px 8px 16px;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  display: block;
  position: relative;
  box-sizing: border-box;
}

.catalog-controll:focus {
  outline: 2px solid#fcfcfc;
  border: 0;
  border-radius: 26px;
}

.catalog-controll:hover {
  background:#fcfcfc;
  opacity: 0.5;
}

.price-tools {
  width: 196px;
}

.range {
  box-sizing: border-box;
  height: 36px;
  background: #ffcbd8;
  border-radius: 20px;
  padding: 1px 16px 17px 16px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 16px;
  background-color: #b9b9b9;
  border-radius: 2px;
  margin-top: 16px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #2d3440;
  opacity: 1;
}

.range-toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  background:#fcfcfc;
  border: 6px solid #2d3440;
  border-radius: 50%;
  padding: 2px ;
  cursor: pointer;
}

.toggle-min {
  top: -7px;
  left: -10px;
}

.toggle-min:focus {
  background: #2d3440;
  border: 6px solid #fcfcfc;
  outline: 2px solid #2d3440;
}

.toggle-min:hover {
  background: #2d3440;
  border: 6px solid #fcfcfc;
}

.toggle-min:active {
  background: #2d3440;
  border: 6px solid #2d3440;
  outline: 0;
}

.toggle-max {
  top: -7px;
  right: -10px;
}

.toggle-max:focus {
  background: #2d3440;
  border: 6px solid #fcfcfc;
  outline: 2px solid #2d3440;
}

.toggle-max:hover {
  background: #2d3440;
  border: 6px solid #fcfcfc;
}

.toggle-min:active {
  background: #2d3440;
  border: 6px solid #2d3440;
  outline: 0;
}


.catalog-filter-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  background: #ffcbd8;
  border-radius: 20px;
  padding: 8px 24px;
}

.catalog-filter-item {
  margin-right: 16px;
  margin-left: 0;
}

.catalog-filter-item:last-child {
  margin-right: 0;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  background-color: #2d3440;
  border-radius: 50%;
  content: "";
}

.control {
  position: relative;
  display: block;
  padding-left: 24px;
}

/* Mark */
.control-mark {
  position: absolute;
  box-sizing: border-box;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #2d3440;
  border-radius: 4px;
}

.control-mark:focus {
  border: 2px solid #69a9ff;
}

.control-mark:hover {
  border: 2px solid #fcfcfc;
}

.control-mark:disabled {
  opacity: 0.4;
}

.control-mark:hover .control-mark::before {
  background-color: #fcfcfc;
}

.control-mark-checbox-svg {
  position: absolute;
  box-sizing: border-box;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
}

.control-mark-checbox-svg:focus .checked {
  fill: #69a9ff;
}

.control-mark-checbox-svg:hover .checked {
  fill: #fcfcfc;
}

.control-mark-checbox-svg:default .checked {
  opacity: 0.5;
}

.control-mark-checbox-svg:hover .unchecked {
  fill: #fcfcfc;
}

.control-mark-checbox-svg:default .unchecked {
  opacity: 0.5;
}

.control-mark-checbox-svg .checked {
  display: none;
}

.control-mark-checbox-svg .unchecked {
  display: block;
}

.control-input[type="checkbox"]:checked + .control-mark-checbox-svg .checked {
  display: block;
}

.control-input[type="checkbox"]:checked + .control-mark-checbox-svg .unchecked {
  display: none;
}

.control-input[type="checkbox"]:checked ~ .control-mark-checbox {
  display: none;
}

.control-label {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  display: flex;
  align-items: center;
}

.button-show {
  background: #ffcbd8;
  outline: 2px solid #fcfcfc;
  border: none;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  display: flex;
  align-items: center;
  height: 36px;
  padding-left: 52px;
  padding-right: 52px;
  box-sizing: border-box;
  margin-top: 44px;
  cursor: pointer;
}

.button-show:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
  border: none;
}

.button-show:hover {
  background:#fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border: none;
}

.button-show:active {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid rgba(252, 252, 252, 0.5);
  border: none;
}

.button-show:disabled {
  opacity: 0.4;
}

/* Group */

.after-products {
  display: grid;
  align-items: center;
  position: relative;
  margin-bottom: 80px;
}

.after-products::after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  background-color: rgba(252, 252, 252, 0.3);
  bottom: -80px;
}

.load-more {
  grid-row: 1 /span 1;
  grid-column: 1 /span 1;
  justify-self: center;
}

.button-load-more {
  background:#fcfcfc;
  outline: 4px solid #ffcbd8;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2d3440;
  padding: 12px 32px;
  cursor: pointer;
}

.button-load-more:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
  border: none;
}

.button-load-more:active {
  background: #fcfcfc;
  outline: 2px solid #2d3440;
  border: none;
}

.button-load-more:focus {
  outline: 2px solid #2d3440;
  border: none;
}

.back {
  width: 6px;
  height: 11px;
}

.pagination {
  height: 24px;
  display: flex;
  align-items: center;
  grid-row: 1 /span 1;
  grid-column: 1 /span 1;
  justify-self: end;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 24px;
}

.forward {
  width: 6px;
  height: 11px;
}

.pg-narrow-icon-back {
  position: absolute;
  top: 6px;
  right: 8px;
  transform: rotate(180deg);
}

.pg-narrow-icon {
  position: absolute;
  top: 6px;
  left: 5px;
}

.pagination-link {
  text-decoration: none;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.active-pag-ct {
  background: #fcfcfc;
  border-radius: 50px;
}

.pagination-link:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2d3440;
  border: 0;
  border-radius: 50px;
}

.pagination-link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 50px;
}

.pagination-link:active {
  background: rgba(252, 252, 252, 0.5);
  outline: 1px solid #fcfcfc;
  border: 0;
  border-radius: 50px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background:rgba(45, 52, 64, 0.3);
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.modal-close-button {
  width: 20px;
  height: 20px;
  border: 0;
  background-color: #fcfcfc;
  padding: 0;
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.modal h2 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.modal-form .button {
  display: block;
  margin-left: auto;
}

.modal-form .filed {
  margin-bottom: 16px;
}

.modal-form .filed-big {
  margin-bottom: 32px;
}

.modal .filed {
  width: 442px;
}

.filed-big {
  background: #ffffff;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 442px;
  height: 150px;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  padding: 14px 16px 14px 16px;
  position: relative;
  resize: none;
}

.filed-big::placeholder {
  color: #b9b9b9;
}

.filed-big:focus {
  outline: 2px solid #2d3440;
  border: 0;
  border-radius: 4px;
}

.filed-big:hover {
  outline: 1px solid #2d3440;
  border: 0;
  border-radius: 4px;
  color: #2d3440;
  box-sizing: border-box;
}

.modal-container-close {
  display: none;
}

.modal-container-open {
  display: flex;
}

.filed:focus {
  outline: 2px solid #2d3440;
  border: 0;
  border-radius: 4px;
}

.filed:hover {
  outline: 1px solid #2d3440;
  border: 0;
  border-radius: 4px;
  color: #2d3440;
  box-sizing: border-box;
}
