@font-face {
  font-Family: "Inter";
  font-weight: 400;
  src: url("../2286597-gllacy-36/fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-Family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../2286597-gllacy-36/fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-Family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("../2286597-gllacy-36/fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%
}

body {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #FEAFC3;
  color: #2D3440;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-link {
  margin-right: 16px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-item:first-child {
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
}

.catalog-narrow {
  position: absolute;
  right: 18px;
  top: 12px;
}

.catalog-header {
  text-decoration: none;
  display: block;
  color: #2D3440;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 16px 8px 16px;
  height: 20px;
  padding-right: 38px;
}

.navigation-item:focus-within .catalog-narrow {
  transform: rotate(180deg);
  top: 13px;
}

.navigation-item:focus-within .catalog-popover {
  display: block;
}

.catalog-popover {
  width: 138px;
  padding: 16px;
  background-color: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 40px;
  display: none;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-list-item {
  margin-bottom: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  position: relative;
}

.catalog-list-item:first-child {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  margin-bottom: 24px;
}

.catalog-list-item:first-child::before {
  height: 1px;
  width: 105px;
  content: "";
  display: block;
  background-color:  #B9B9B9;
  position: absolute;
  top: 32px;
}

.catalog-list-item:last-child {
  margin-bottom: 0;
}

.catalog-link {
  text-decoration: none;
  color: #2D3440;
}

.phone-number {
  text-decoration: none;
  color: #2D3440;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  height: 20px;
}

.navigation-item {
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
}

.navigation-link {
  text-decoration: none;
  display: block;
  color: #2D3440;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 16px 8px 16px;
  height: 20px;
}

.search {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 32px;
  width: 32px;
  height: 32px;
  padding: 0;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 9px;
  left: 9px;
}

.user-item:focus-within .popover-search {
  display: block;
}

.popover-search {
  width: 356px;
  background-color: #FCFCFC;
  padding: 24px 16px;
  position: absolute;
  color: #2D3440;
  box-sizing: border-box;
  z-index: 5;
  top: 40px;
  left: -326px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  display: none;
}

.popover-form-search {
  margin-top: 0;
}

.filed-seach {
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  width: 324px;
  height: 48px;
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  padding: 14px 16px 14px 16px;
}

.enter {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  text-decoration: none;
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  padding: 6px 16px 6px 38px;
  height: 20px;
  position: relative;
}

.enter-icon {
  position: absolute;
  left: 16px;
  top: 8px;
}

.user-item:focus-within .enter-popover {
  display: block;
}

.enter-popover {
  width: 420px;
  background-color: #FCFCFC;
  padding: 48px;
  font-family: 'Inter';
  font-style: normal;
  min-height: 156px;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: 40px;
  left: -332px;
  color: #2D3440;
  display: none;
}

.popover-form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.popover-form input {
  margin-bottom: 16px;
}

.popover-form input:last-of-type {
  margin-bottom: 32px;
}

.popover-bottom {
  display: flex;
}

.links-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 24px;
}

.popover-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.basket {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  position: relative;
  padding: 6px 16px 6px 38px;
  text-decoration: none;
}

.basket-icon {
  position: absolute;
  top: 8px;
  left: 16px;
}

.user-item:focus-within .basket-popover {
  display: block;
}

.basket-popover {
  width: 440px;
  padding: 48px;
  font-family: 'Inter';
  font-style: normal;
  min-height: 156px;
  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  left: -325px;
  z-index: 5;
  display: none;
  color: #2D3440;
}

.popover-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.popover-list {
  margin: 32px 0;
  padding: 0;
  list-style-type: none;
}

.popover-item {
  display: flex;
  height: 46px;
  margin-top: 24px;
}

.popover-item:first-child {
  margin-top: 0;
}

.popover-img {
  margin-right: 16px;
}

.popover-description {
  margin-right: 68px;
  align-self: center;
  width: 92px;
  box-sizing: border-box;
}

.pop-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.popover-description p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.popover-item b {
  margin-right: 50px;
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cancel {
  width: 16px;
  height: 16px;
  align-self: center;
  background-color: #FCFCFC;
  border: 0;
  cursor: pointer;
  position: relative;
  padding: 0;
}

.cencel-icon-first {
  position: absolute;
  top: 0;
}

.checkout {
  display:flex;
  padding-top: 32px;
  position: relative;
}

.checkout::before {
  height: 1px;
  width: 345px;
  content: "";
  display: block;
  background-color: #E7E7E7;
  position: absolute;
  top: 0;
}

.checkout b {
  margin-left: 23px;
  align-self: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.navigation-item:nth-child(3) {
  margin-right: 164px;
}

.user-item {
  margin-right: 16px;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.user-item:last-child {
  margin-right: 0;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  display: flex;
  height: 554px;
}

.slider-item:not(:first-child) {
  display: none;
}

.info-slider {
  padding-left: 70px;
  padding-right: 28px;
  width: 528px;
}

.info-slider h1 {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-top: 136px;
}

.info-slider p {
  margin-top: 24px;
  margin-bottom: 48px;
  width: 430px;
}

.order {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: block;
  text-align: center;
  color: #2D3440;
  background: #FCFCFC;
  outline: 4px solid #FFCBD8;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding: 12px 32px;
  cursor: pointer;
}

.order:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border: none;
}

.order:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  border: none;
}

.order:active {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  border: none;
}

.order:disabled {
  background: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border: none;
  color: #B9B9B9;
}

.slider-pictures {
  display: flex;
  align-items: center;
}

.clider-pic-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.slider-pic-item {
  margin-right: 38px;
  display: block;
  position: relative;
  z-index: 2;
  text-align: center;
}

.slider-pic-item:first-child::before {
  display: block;
  content: "";
  width: 312px;
  height: 312px;
  background-color: #FFCBD8;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 10px;;
}

.slider-pic {
  z-index: 2;
  position: relative;
}

.slider-pic-item:not(:first-child)::before {
  display: block;
  content: "";
  width: 100px;
  height: 100px;
  background-color: #FFCBD8;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 25px;
  opacity: 0.4;
}

.small-pic {
  position: relative;
  z-index: 3;
}

.slider-pic-item:last-child {
  margin-right: 0;
}

.slider-pic-item:not(:first-child) {
  width: 100px;
}

.slider-buttons {
  position: relative;
}

.narrows {
  display: flex;
  justify-content: space-between;
  width: 346px;
  position: absolute;
  top: -290px;
  left: 537px;
  z-index: 4;
}

.slider-button {
  box-sizing: border-box;
  height: 38px;
  width: 38px;
  position: relative;
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  background: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  padding: 0;
}

.slider-button:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.slider-button:focus .clr-icon-slider {
  fill: #2D3440;
}

.slider-button:hover {
  background-color: #FCFCFC;
}

.slider-button:hover .clr-icon-slider {
  fill: #2D3440;
}

.slider-button:active {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid rgba(252, 252, 252, 0.5);
}

.slider-button:active .clr-icon-slider {
  fill: #2D3440;
}

.slider-button:disabled {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  opacity: 0.4;
}

.slider-button:disabled .clr-icon-slider {
  color: #FCFCFC;
}

.narrow-icon {
  position: absolute;
  top: 9px;
  left: 8px;
}

.narrow-icon-next {
  position: absolute;
  top: 9px;
  left: 10px;
  transform: rotate(180deg);
}

.pagination-slider {
  display: flex;
  justify-content: space-between;
}

.slider-dot-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.slider-dot-list {
  width: 52px;
  height: 12px;
  display: flex;
  justify-content: space-between;
}

.slider-dot-button {
  box-sizing: content-box;
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  background: #FCFCFC;
  border: 1px solid #FCFCFC;
  border-radius: 100px;
  cursor: pointer;
  opacity: 0.3;
}

.slider-dot-button:focus {
  border: 1px solid #2D3440;
  background: rgba(252, 252, 252, 0.3);
}

.slider-dot-button:hover {
  border: 1px solid #FCFCFC;
}

.slider-dot-button:active {
  opacity: 0.5;
}

.slider-dot-button:current {
  background: #FCFCFC;
  border: 1px solid #FCFCFC;
}

.messengers-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 104px;
  height: 24px;
  justify-content: space-between;
  list-style-type: none;
}

.messengers-item {
  height: 24px;
  width: 24px;
  border: 2px solid #FFCBD8;
  border-radius: 24px;
  background-color: #FEAFC3;
  cursor: pointer;
  position: relative;
}

.messengers-item:focus {
  border: 2px solid #2D3440;
  background: #2D3440;
}

.messengers-item:hover {
  background-color: #2D3440;
}

.messengers-item:active {
  background-color: #2D3440;
  opacity: 0.5;
}

.messenger-icon {
  position: absolute;
}

.gift-container h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 55px;
}

.gift-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.gift-item {
  display: flex;
  background: #FF7799;
  border-radius: 16px;
}

.info-gift {
  padding: 36px 11px 36px 36px;
}

.info-gift h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}


.info-gift p {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  width: 304px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
}

.want-gift {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  background: #FCFCFC;
  outline: 4px solid #FFCBD8;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  cursor: pointer;
}

.want-gift:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border: none;
}

.want-gift:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  border: none;
}

.want-gift:active {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  border: none;
}

.want-gift:disabled {
  background: #E7E7E7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  border: none;
  color: #B9B9B9;
}

.popular-taste h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 56px;
}

.taste-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4 , 270px);
  column-gap: 30px;
  row-gap: 90px;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.taste-item {
  width: 270px;
  display: grid;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.ice-crem-pic {
  margin: 0 auto;
  margin-top: -50px;
  margin-bottom: 16px;
}

.taste-item  h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2D3440;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.taste-item p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  }

.price-busket {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 190px;
  margin-bottom: 24px;
}

.price-busket span {
  display: flex;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin: auto 0;
}

.add-to-basket {
  width: 28px;
  height: 28px;
  border: 2px solid #FF2F64;
  background: #FF2F64;
  border-radius: 26px;
  cursor: pointer;
  position: relative;
  padding: 0;
}

.add-to-basket:focus {
  border: 2px solid #2D3440;
  background: #FF2F64;
}

.add-to-basket:hover {
  background: #FCFCFC;
}

.add-to-basket:hover .clr-icon-price {
  fill: #2D3440;
}

.add-to-basket:active {
  background: #FFCBD8;
}

.add-to-basket:active .clr-icon-price {
  fill: #2D3440;
}

.add-to-basket:disabled {
  background: #B9B9B9;
  border: 2px solid #B9B9B9;
}

.add-to-basket:disabled .clr-icon-price {
  fill: #565C66;
}

.add-to-basket-icon {
  position: absolute;
  bottom: 5px;
  right: 5.5px;
}

.vufle-advantages {
  width: 1170px;
  box-sizing: border-box;
  padding: 24px;
  border-radius: 16px;
  margin-bottom: 80px;
  background-image: url("images-gllacy/wafle.png");
}

.advantages {
  background-color:  #FFFFFF;
  border-radius: 16px;
}

.advantages h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2D3440;
  margin: 0;
  padding: 0;
  padding-top: 56px;
  margin-bottom: 56px;
}

.advantades-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  gap: 40px;
  grid-template-columns: 505.5px 505.5px;
  width: 1043px;
  padding-bottom: 56px;
}

.advantages-item {
  display: flex;
}

.advantages-pic {
  display: flex;
  align-self: center;
  margin-right: 16px;
}

.advantages-item p {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.article-and-mailing-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

article {
  box-sizing: border-box;
  width: 570px;
  height: 224px;
  background-image: ;
  background-image: url("images-gllacy/article-ice-cream.png");
  border-radius: 16px;
  padding: 32px;
}

article p {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
  margin-bottom: 12px;
}

.blog-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  text-decoration: none;
}


.mailing-list {
  box-sizing: border-box;
  width: 570px;
  height: 224px;
  border-image: url("images-gllacy/news-letter.png") 6px;;
  background-color: white;
  padding: 26px;
  border-radius: 16px;
}

.mailing-list p {
  margin : 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin-bottom: 44px;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
}

.filed {
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  width: 332px;
  height: 48px;
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  padding: 14px 16px 14px 16px;
}

input:not(:placeholder-shown) {
  color: #2D3440;
  border: 1px solid #B9B9B9;
}

.button {
  background: #FF2F64;
  outline: 4px solid #FF7799;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  cursor: pointer;
  padding: 10px 32px;
  box-sizing: border-box;
}

.button:focus {
  outline: 2px solid #2D3440;
  border: none;
  background: #FF2F64;
}

.button:hover {
  background: rgba(252, 252, 252, 0.3);
  outline: 4px solid #FF2F64;
  border: none;
  color: #2D3440;
}

.button:active {
  outline: 2px solid #2D3440;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  background: #FEAFC3;
}

.button:disabled {
  background: #B9B9B9;
  outline: 4px solid rgba(185, 185, 185, 0.3);
  border: none;
  color: #565C66;
}

.delivery {
  display: flex;
  border-radius: 16px;
  background-image: url("images-gllacy/delivery.png");
  margin-bottom: 80px;
}

.info-delivery {
  margin-top: 167px;
  margin-left: 100px;
}

.info-delivery h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.info-delivery p {
  margin:  0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin-bottom: 163px;
}

.appointment {
  margin: 64px 64px 64px 135px;
  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}

.appointment p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.appointment-form {
  display: grid;
  width: 420px;
  grid-template-rows: 76px 76px;
  grid-template-columns: 118px 286px;
  gap: 20px 16px;
}

.appointment-form-date {
  width: 118px;
}

.appointment-form-adress {
  grid-column: 1 / -1;
}

.appointment-form p {
  display: grid;
  gap: 8px;
}

.form-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  position: relative;
}

.form-icon-date {
  position: absolute;
  top: 3px;
  left: 44px;
}

.form-icon {
  position: absolute;
  top: 3px;
  left: 56px;
}

.appointment-form input {
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  padding: 14px 16px;
  box-sizing: border-box;
  height:48px;
}

.date-input {
  width: 119px;
}

.appointment button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.feedback {
  background-image: url("images-gllacy/contact.png");
  border-radius: 16px;
  padding: 64px 763px 64px 64px;
  height: 492px;
  box-sizing: border-box;
}

.feedback-window {
  background: #FCFCFC;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}

.feedback-window p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

.feedback-window address {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
  margin-bottom: 24px;
}

.feedback-window b {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.timetable {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}

.about-us-list {
  display: flex;
  width: 358px;
  flex-wrap: wrap;
  height: 48px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-us-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

.heart-icon {
  position: absolute;
  left: -24px;
  top: 2px;
}

.for-other {
  margin-right: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.about-us-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  height: 20px;
}

.about-us-item:nth-child(3) {
  margin-right: 34px;
}

.html-academy {
  height: 57px;
}

.html-academy P {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
  margin: 0;
  padding: 0;
}

.html-academy-link-p {
  color: #2D3440;
}

/*Вторая страница*/

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.breadcrumbs-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.breadcrumbs-link:not(:last-child) {
  text-decoration: none;
}

.breadcrumbs-item {
  margin-right: 28px;
  position: relative;
}

.double-narrow {
  position: absolute;
  top: 10.5px;
  left: 68.5px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.bread h2 {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
  margin-bottom: 40px;
}

.catalog-filter {
  margin-bottom: 98px;
}

.catalog-filter-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  margin-bottom: 8px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-group {
  margin: 0;
  margin-right: 24px;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(3) {
  margin-right: 0;
}

.catalog-filter-group:nth-child(4) {
  margin-top: 16px;
}

.celect-control {
  background: #FFCBD8;
  border-radius: 20px;
  border: 0;
  padding: 8px 16px 8px 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.price-tools {
  width: 196px;
}

.range {
  box-sizing: border-box;
  height: 36px;
  background: #FFCBD8;
  border-radius: 20px;
  padding: 1px 16px 17px 16px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 16px;
  background-color: #B9B9B9;
  border-radius: 2px;
  margin-top: 16px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #2D3440;
  opacity: 1;
}

.range-toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #FCFCFC;
  border: 6px solid #2D3440;
  border-radius: 50%;
  padding: 2px ;
  cursor: pointer;
}

.toggle-min {
  top: -7px;
  left: -10px;
}

.toggle-max {
  top: -7px;
  right: -10px;
}

.catalog-filter-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  background: #FFCBD8;
  border-radius: 20px;
  padding: 8px 16px;
}

.catalog-filter-item {
  margin-right: 16px;
  margin-left: 0;
}

.catalog-filter-item:last-child {
  margin-right: 0;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  background-color: #2D3440;
  border-radius: 50%;
  content: "";
}

.control {
  position: relative;
  display: block;
  padding-left: 24px;
}

/* Mark */
.control-mark {
  position: absolute;
  box-sizing: border-box;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #2D3440;
  border-radius: 4px;
}

.swoosh {
  opacity: 0;
  position: absolute;
  left: 4px;
  top: 2px;
}

.control-input[type="checkbox"]:checked + .swoosh{
  opacity: 1;
}

.control-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  display: flex;
  align-items: center;
}

.button-show {
  background: #FFCBD8;
  outline: 2px solid #FCFCFC;
  border: none;
  border-radius: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  display: flex;
  align-items: center;
  height: 36px;
  padding-left: 52px;
  padding-right: 52px;
  box-sizing: border-box;
  margin-top: 44px;
  cursor: pointer;
}

.button-show:focus {
  background: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2D3440;
  border: none;
}

.button-show:hover {
  background: #FCFCFC;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border: none;
}

.button-show:active {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid rgba(252, 252, 252, 0.5);
  border: none;
}

.button-show:disabled {
  opacity: 0.4;
}

/* Group */

.after-products {
  display: flex;
}

.load-more {
  margin-left: 492px;
  margin-right: 338px;
}

.button-load-more {
  background: #FCFCFC;
  outline: 4px solid #FFCBD8;
  border: none;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  padding: 12px 32px;
  cursor: pointer;
}

.button-load-more:hover {
  background: rgba(252, 252, 252, 0.4);
  outline: 4px solid #FCFCFC;
  border: none;
}

.button-load-more:active {
  background: #FCFCFC;
  outline: 2px solid #2D3440;
  border: none;
}

.button-load-more:focus {
  outline: 2px solid #2D3440;
  border: none;
}

.back {
  width: 6px;
  height: 11px;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.forward {
  width: 6px;
  height: 11px;
}

.pagination-item {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  align-items: center;
  position: relative;
}

.pagination-item:nth-child(2) {
  background: #FCFCFC;
  border-radius: 50px;
}

.pg-narrow-icon-back {
  position: absolute;
  top: 6px;
  right: 8px;
  transform: rotate(180deg);
}

.pg-narrow-icon {
  position: absolute;
  top: 6px;
  left: 5px;
}

.pagination-link {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  position: relative;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background:rgba(45, 52, 64, 0.3);
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.modal-close-button {
  width: 20px;
  height: 20px;
  border: 0;
  background-color: #FCFCFC;
  padding: 0;
  position: absolute;
  top: 32px;
  right: 32px;
  cursor: pointer;
}

.modal h2 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.modal-form button {
  display: block;
  margin-left: auto;
}

.modal-form input {
  margin-bottom: 16px;
}

.modal-form input:last-of-type {
  margin-bottom: 32px;
}

.modal .filed {
  width: 442px;
}

.filed-big {
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  width: 442px;
  height: 150px;
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  padding: 14px 16px 14px 16px;
  position: relative;
}

.filed-big::placeholder {
  position: absolute;
  top: 16px;
  left: 16px;
}

.modal-container-close {
  display: none;
}
